  body {
    background-color: white;
  }

  a {
    text-decoration: none;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .mw-md-50 {
    max-width: 50% !important;
  }
  
  .p {
    font-size: 16px;
  }